body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d8d6d6;
    margin: 20px;
    padding: 20px;
}

form {
    background: #c7bebe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

fieldset {
    border: 1px solid #080806;
    padding: 15px;
    margin-bottom: 20px;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

legend {
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-weight: 100;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 5px;
    border: 1px solid #0f0d0d;
    border-radius: 4px;
    font-size: 16px;

}

textarea {
    resize: vertical;
}

.checkbox-group {
    display: flex;
    gap: 10px;
}

.submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.submit-button:hover {
    background-color: #04080e;
}