body {
    background-color: rgb(232, 242, 246);
    width: 60%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.content {
    background-color: rgb(246, 236, 246);
    padding: 10px;
}

th,
td,
table {
    border: 1px solid black;
    margin: 10px;
}

th {
    font-size: large;
    font-weight: 600;
    text-align: left;
    padding: 5px;
}

td {
    font-size: medium;
    font-weight: 300;
    padding: 5px;
}

img {
    height: 200px;
    width: 200px;
}

p {
    font-size: large;
    line-height: 1.5;
    /*text-indent: 20px;*/
    word-spacing: 1.5px;
    text-align: justify;
}

fieldset {
    background-color: rgb(212, 207, 207);
    border: 1px solid black;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

input[type=button]


    {
    background-color: rgb(242, 236, 233);
    border-color: rgb(3, 3, 3);
    border-width: 2px;
}

input[type=text],
input[type=checkbox] {
    background-color: seashell;
    border-radius: 5px;
}
